/* =======================

Universal Styling

======================*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #333;
}

.container {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    min-height: 100vh;
}